<h1>Events</h1>

<%= month_calendar events: @calendar_events do |day, events| %>
  <div><strong><%= day.to_s(:long) %></strong></div>
  <% events.each do |event| %>
    <div>
      <%= link_to event.activity.title, activity_path(event.activity.id) %>
    </div>
  <% end %>
<% end %>

<table>
  <thead>
  <tr>
    <th>Activity ID</th>
    <th>Дата и время</th>
    <th>Повторение</th>

  </tr>
  </thead>

  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td><%= event.activity_id %></td>
      <td><%= event.start_time %></td>
      <td><%= event.recurring %></td>
    </tr>
  <% end %>
  </tbody>
</table>