<div class="input-group">
  <%= form_tag activities_path, :method => 'get', :class => "navbar-form", :role => "search" do %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <p>
        <%= text_field_tag :search, params[:search], :class=>"form-control", placeholder: 'Введите название экскурсии' %>
        <%= submit_tag "Поиск", :name => nil, :class=> "btn btn-default" %>
      </p>
  <% end %>
</div>
<table class="table-bordered table-hover">
  <tr>
    <th><%= link_to 'ID', :sort => 'id' %></th>
    <th><%= link_to 'Экскурсия', :sort => 'title' %></th>
    <th>Количество посетителей</th>
    <th>Суммарная выручка</th>
  </tr>
  <% @activities.each do |activity| %>
      <tr>
        <th><%= activity.id %></th>
        <th><%= link_to activity.title, activity %></th>
        <th><%= activity.visitors.count %></th>
        <th><%= activity.proceeds %></th>
      </tr>
  <% end %>
</table>
<%= will_paginate %>
