<table>
  <tr>
    <th>ID</th>
    <th>Экскурсия</th>
    <th>Количество посетителей</th>
    <th>Суммарная выручка</th>
  </tr>
  <% @activities.each do |activity| %>
      <tr>
        <th><%= activity.id %></th>
        <th><%= link_to activity.title, activity %></th>
        <th><%= activity.visitors.count %></th>
        <th><%= activity.proceeds %></th>
      </tr>
  <% end %>
</table>
<%= will_paginate %>
