<section class="activity_information">
  <h1>Информация о экскурсии</h1>
  <h2><%= @activity.title %></h2>
  <table class="table-activities-info table-bordered table-hover table-responsive">
    <thead>
    <tr>
      <th>Данные</th>
      <th>Значения</th>
    </tr>
    </thead>
    <tr>
      <th>Средний доход с просмотра</th>
      <th><%= @activity.arpu %></th>
    </tr>
    <tr>
      <th>Количество посетителей</th>
      <th><%= @activity.visitors_count %> человек</th>
    </tr>
    <tr>
      <th>Цена</th>
      <th><%= @activity.price %></th>
    </tr>
    <tr>
      <th>Оценка посетителей</th>
      <th><%= @activity.rating %></th>
    </tr>
  </table>
</section>

<section class="also_seen">
  <h3>Также с этой экскурсией смотрели:</h3>
  <div class="activity-seen">
    <a href="#" class="a-carousel-image-link">
      <%= image_tag "1.jfif" %>
    </a>
    <a href="#" class="activity_link">
      Автобусная экскурсия в Будапешт
    </a>
    <div class="action_price">Цена за человека 790 &#8399;</div>
    <div class="star-rating">
      <i class="fa fa-star" data-rating="1"></i>
      <i class="fa fa-star" data-rating="2"></i>
      <i class="fa fa-star" data-rating="3"></i>
      <i class="fa fa-star" data-rating="4"></i>
      <i class="fa fa-star" data-rating="5"></i>
    </div>
  </div>
  <div class="activity-seen">
    <a href="#" class="a-carousel-image-link">
      <%= image_tag "2.jfif" %>
    </a>
    <a href="#" class="activity_link">
      Экскурсия по дворам в Киото
    </a>
    <div class="action_price">Цена за человека 790 &#8399;</div>
    <div class="star-rating">
      <i class="fa fa-star" data-rating="1"></i>
      <i class="fa fa-star" data-rating="2"></i>
      <i class="fa fa-star" data-rating="3"></i>
      <i class="fa fa-star" data-rating="4"></i>
      <i class="fa fa-star" data-rating="5"></i>
    </div>
  </div>
  <div class="activity-seen">
    <a href="#" class="a-carousel-image-link">
      <%= image_tag "3.jfif" %>
    </a>
    <a href="#" class="activity_link">
      Ишимбай - столица мира
    </a>
    <div class="action_price">Цена за человека 790 &#8399;</div>
    <div class="star-rating">
      <i class="fa fa-star" data-rating="1"></i>
      <i class="fa fa-star" data-rating="2"></i>
      <i class="fa fa-star" data-rating="3"></i>
      <i class="fa fa-star" data-rating="4"></i>
      <i class="fa fa-star" data-rating="5"></i>
    </div>
  </div>
  <div class="activity-seen">
    <a href="#" class="a-carousel-image-link">
      <%= image_tag "4.jfif" %>
    </a>
    <a href="#" class="activity_link">
      Историческая экскурсия в Стамбуле
    </a>
    <div class="action_price">Цена за человека 790 &#8399;</div>
    <div class="star-rating">
      <i class="fa fa-star" data-rating="1"></i>
      <i class="fa fa-star" data-rating="2"></i>
      <i class="fa fa-star" data-rating="3"></i>
      <i class="fa fa-star" data-rating="4"></i>
      <i class="fa fa-star" data-rating="5"></i>
    </div>
  </div>
  <div class="activity-seen">
    <a href="#" class="a-carousel-image-link">
      <%= image_tag "5.jfif" %>
    </a>
    <a href="#" class="activity_link">
      Вечерняя экскурсия в Орлеане
    </a>
    <div class="action_price">Цена за человека 790 &#8399;</div>
    <div class="star-rating">
      <i class="fa fa-star" data-rating="1"></i>
      <i class="fa fa-star" data-rating="2"></i>
      <i class="fa fa-star" data-rating="3"></i>
      <i class="fa fa-star" data-rating="4"></i>
      <i class="fa fa-star" data-rating="5"></i>
    </div>
  </div>
  <div class="activity-seen">
    <a href="#" class="a-carousel-image-link">
      <%= image_tag "6.jfif" %>
    </a>
    <a href="#" class="activity_link">
      Ночная экскурсия по Казани
    </a>
    <div class="action_price">Цена за человека 790 &#8399;</div>
    <div class="star-rating">
      <i class="fa fa-star" data-rating="1"></i>
      <i class="fa fa-star" data-rating="2"></i>
      <i class="fa fa-star" data-rating="3"></i>
      <i class="fa fa-star" data-rating="4"></i>
      <i class="fa fa-star" data-rating="5"></i>
    </div>
  </div>
</section>



