<div class="input-group">

  <%= form_tag statistic_path, :method => 'get', :class => "navbar-form", :role => "search" do %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <p>
        <%= text_field_tag :search, params[:search], placeholder: 'Введите название', :class => "form-control" %>
      </p>
      <p>Модель атрибуции: </p>

      <%= radio_button_tag(:who_win, "first") %>
      <%= label_tag(:who_win, "Посетитель засчитывается к каналу, с которого было совершено первое посещение(First)") %>
      <br>
      <%= radio_button_tag(:who_win, "last") %>
      <%= label_tag(:who_win, "Посетитель засчитывается к каналу, с которого было совершено последнее посещение(Last)") %>
      <br>
      <%= radio_button_tag(:who_win, "linear") %>
      <%= label_tag(:who_win, "Посетитель засчитывается ко всем каналам, с которых были переходы(Linear)") %>
      <br>
      <div class="input-group-btn">
        <%= submit_tag "Поиск", :name => nil, :class => "btn btn-default" %>
      </div>
      </p>

  <% end %>
</div>

<% if !params[:who_win].present?
     params[:who_win] = 'linear'
   end %>

<table class="table-bordered table-hover">
  <tr>
    <th>ID</th>
    <th>Экскурсия</th>
    <th>Канал</th>
    <th>Количество посетителей</th>
    <th>Выручка</th>
  </tr>


  <% @activities.each do |activity| %>
      <tr>
        <th><%= activity.id %></th>
        <th><%= link_to activity.title, activity %></th>
        <th><%= activity.medium_title(params[:who_win]) %></th>
        <th><%= activity.mediums_count(params[:who_win]) %></th>
        <th><%= activity.mediums_proceed(params[:who_win]) %></th>
      </tr>
  <% end %>


</table>
<%= will_paginate %>
